#Webフレームワーク本体
fastapi==0.115.0

#ASGIサーバー（Webサーバー）
uvicorn[standard]==0.34.0

#ORM（ObjectRelationalMapper)PythonコードでDB操作を行うために使用します。
sqlalchemy==2.0.36

#PostgreSQLに接続するためのDBドライバ
psycopg2-binary==2.9.10

#Alembic(PythonからDBを直接操作するマイグレーションツール)
alembic==1.14.0






